.Page {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.Text {
  display: flex;
  flex: 0 0 30rem;
  width: 30rem;
  flex-direction: column;
  border-right: 1px solid var.$color-border;

  .Nav {
    display: flex;
    height: 2rem;
    border-bottom: 1px solid var.$color-border;

    .NavButton {
      display: flex;
      height: calc(2rem - 1px);
      width: calc(2rem - 1px);
      align-items: center;
      justify-content: center;
      background-color: var.$color-white;
      border: none;
      border-right: 1px solid var.$color-border;
      cursor: pointer;

      &:active {
        background-color: var.$color-slate-50;
      }

      &.Active {
        background-color: var.$color-slate-100;
      }
    }
  }

  .Content {
    flex: 1 1 0;
    padding: 1rem;
    overflow: auto;

    h1 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 0.5rem;
    }

    pre {
      border-radius: 0.5rem;
      padding: 0.5rem 0.75rem;
      background-color: var.$color-code-bg;
      margin-bottom: 0.5rem;
      overflow: auto;

      code {
        background-color: transparent;
        padding: 0;
        border-radius: 0;
      }
    }

    code {
      background-color: var.$color-code-bg;
      padding: 0.125rem 0.25rem;
      border-radius: 0.25rem;
    }
  }
}

.Preview {
  flex: 1 1 0;
}

@media (max-width: 50rem) and (min-height: 40rem) {
  .Page {
    flex-direction: column-reverse;
  }

  .Text {
    width: 100%;
    height: 25rem;
    flex: 0 0 25rem;
    border-right: none;
    border-top: 1px solid var.$color-border;
  }

  .Preview {
    width: 100%;
  }
}

@media (max-width: 40rem) and (min-height: 40rem) {
  .Text {
    height: 20rem;
    flex: 0 0 20rem;
  }
}

@media (max-height: 40rem) {
  .Text {
    flex: 0 0 25rem;
    width: 25rem;
  }
}

.BadScreen {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  inset: 0;
  background-color: rgba(var.$color-black, 0.5);

  p {
    font-size: 1.25rem;
    color: var.$color-white;
    text-align: center;
  }
}

@media (max-width: 40rem) and (max-height: 40rem) {
  .BadScreen {
    visibility: inherit;
  }
}

@media (max-width: 20rem) or (max-height: 20rem) {
  .BadScreen {
    visibility: inherit;
  }
}
